* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 0 0 30px 30px;
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-heading {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.score-circle {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

.score-heading {
    font-size: 3rem;
}

.score-out-of {
    opacity: 0.5;
}

.remarks {
    font-size: 2rem;
    margin-top: 20px;
}

.remarks-para {
    opacity: 0.6;
    text-align: center;
    margin-top: 20px;
}

.right-side {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.summary-heading {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    color: hsl(224, 30%, 27%);
}

.reaction-category,
.memory-category,
.verbal-category,
.visual-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.icon {
    margin-right: 10px;
}

.reaction,
.memory,
.verbal,
.visual {
    margin-right: auto;
}

.reaction-category {
    background-color: hsl(0, 100%, 96%);
}

.memory-category {
    background-color: hsl(39, 100%, 96%);
}

.verbal-category {
    background-color: hsl(166, 100%, 96%);
}

.visual-category {
    background-color: hsl(234, 85%, 96%);

}

.reaction {
    color: hsl(0, 100%, 67%);
    font-weight: 800;
}

.memory {
    font-weight: 800;
    color: hsl(39, 100%, 56%);
}

.verbal {
    color: hsl(166, 100%, 37%);
    font-weight: 800;
}

.visual {
    color: hsl(234, 85%, 45%);
    font-weight: 800;
}

.obtained-marks,
.total-marks {
    color: hsl(224, 30%, 27%);
    font-size: 17px;
    font-weight: 800;

}

.obtained-marks {
    opacity: 0.9;
}

.total-marks {
    opacity: 0.5;
}

.btn {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: hsl(224, 30%, 27%);
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 30px;
}

.btn:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 800px;
        height: 500px;
        box-shadow: 1px 1px 19px 18px rgba(0, 0, 0, 0.06);
        border-radius: 30px;
        overflow: hidden;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        border-radius: 0 30px 30px 0;
    }

    .result-heading {
        font-size: 1.5rem;
        opacity: 0.6;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .score-circle {
        width: 200px;
        height: 200px;
    }

    .score-heading {
        font-size: 4rem;
    }

    .remarks {
        font-size: 2rem;
        margin-top: 25px;
    }

    .remarks-para {
        margin-top: 25px;
    }

    .right-side {
        width: 50%;
        height: 100%;
    }

    .summary-heading {
        margin-top: 25px;
        margin-bottom: 30px;
    }
}
