* {
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 850px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 1px 1px 19px 18px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.left-side {
    width: 50%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 30px 30px 0;
}

.left-side h2 {
    opacity: 0.7;
}

.score-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
}

.score-circle h2 {
    font-size: 4rem;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 0px;
}

.score-circle p {
    margin: 0;
    opacity: 0.5;
}

#remarks {
    font-size: 2rem;
    opacity: 1;
}

.remarks-para {
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.7;
}

.right-side h2 {
    color: hsl(224, 30%, 27%);
    margin-left: 50px;
}

.reaction-category,
.memory-category,
.verbal-category,
.visual-category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
}

.reaction {
    color: hsl(0, 100%, 67%);
    font-weight: 800;
}

.memory {
    color: hsl(39, 100%, 56%);
    font-weight: 800;
}

.verbal {
    color: hsl(166, 100%, 37%);
    font-weight: 800;
}

.visual {
    color: hsl(234, 85%, 45%);
    font-weight: 800;
}

.reaction-category {
    background-color: hsl(0, 100%, 95%);
}

.memory-category {
    background-color: hsl(39, 100%, 95%);
}

.verbal-category {
    background-color: hsl(166, 100%, 95%);
}

.visual-category {
    background-color: hsl(234, 85%, 95%);
    margin-bottom: 0;
}

.icon {
    margin-right: 10px;
}

.visual-icon {
    margin-left: 0;
}

.marks {
    margin-left: 135px;
}

.marks,
.obtained-marks {
    color: hsl(224, 30%, 27%);
    font-size: 1.1rem;
    font-weight: 800;
}

.total-marks {
    opacity: 0.7;
}

.verbal-category .marks {
    margin-left: 150px;
}

.visual-category .marks {
    margin-left: 155px;
}

.btn {
    width: 85%;
    padding: 20px;
    margin-left: 50px;
    margin-top: 35px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
}

.btn:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media (max-width: 992px) {
    * {
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .left-side {
        width: 100%;
        height: 47%;
        text-align: center;
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-radius: 0 0 30px 30px;
    }

    .left-side h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.7;
    }

    .score-circle {
        width: 150px;
        height: 150px;
    }

    .score-circle h2 {
        font-size: 4rem;
        opacity: 1;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    #remarks {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .remarks-para {
        font-size: 1rem;
    }

    .right-side {
        height: 50%;
    }

    .right-side h2 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .reaction-category,
    .memory-category,
    .verbal-category,
    .visual-category {
        width: 400px;
        padding: 15px;
        justify-content: flex-start;
    }

    .marks {
        margin-left: 200px;
    }

    .verbal-category .marks {
        margin-left: 215px;
    }

    .visual-category .marks {
        margin-left: 218px;
    }

    .icon {
        margin-right: 10px;
    }

    .btn {
        width: 340px;
        padding: 15px;
        margin-left: 85px;
        margin-top: 20px;
        background-color: hsl(224, 30%, 27%);
    }
}